{% extends 'base.html' %} {% block content %}
{% load static %}
<!---AUTHOR : DONFACK PASCAL-->

<div class="section-title" style="margin-top: 25px; margin-bottom: 15px">
    <h2>RESULTATS POUR " {{sujet}} "</h2>
</div>

<script>
    function ajouterAuxLectures(idLiv) {
        idLivre = parseInt(idLiv)
        fetch("AjoutLectures/" + idLivre, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'), // Assurez-vous d'inclure le token CSRF
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ 'livre_id': idLivre }) // Envoyez l'ID du livre dans le corps de la requête
        })
            .then(response => {

                alert("Livre ajouté aux lectures avec succès !");
                // Vous pouvez également mettre à jour l'interface utilisateur ici si nécessaire
                document.getElementById("countLec").innerText = parseInt(document.getElementById("countLec").innerText) + 1;
                document.getElementById("countLec2").innerText = document.getElementById("countLec").innerText + " Lectures";

            })
            .catch(error => {
                console.error("Erreur lors de l'ajout :", error);
            });
    }

    // Fonction pour obtenir le cookie CSRF
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>

<div class="product-area most-popular section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% if categorie == "" %}
                <div class="section-title">
                    <h2>TOUTES CATEGORIES</h2>
                </div>
                {% else %}
                <div class="section-title">
                    <h2>CATEGORIE : {{categorie}}</h2>
                </div>
                {% endif %}


            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel popular-slider">
                    {% for livre in Livres_recherche %}

                    <div class="single-product">
                        <div class="product-img" style="height: 420px; overflow: hidden">
                            <a href="{{livre.get_absolute_url}}">
                                <img class="default-img" src="{{livre.image1.url}}" alt="#" />
                                {% if livre.image2 %}
                                <img class="hover-img" src="{{livre.image2.url}}" alt="#" />
                                {% else %}
                                <img class="default-img" src="{{livre.image1.url}}" alt="#" />
                                {% endif %}


                                {% if livre.is_new %}
                                <span class="new">Nouveau</span>
                                {% endif %}
                            </a>
                            <div class="button-head">
                                <div class="product-action">
                                    <a title="Quick View" href="{{livre.get_absolute_url}}"><i
                                            class="ti-eye"></i><span>Lire</span></a>
                                    <a title="Ajouter aux lectures" href="javascript:void(0);"
                                        onclick="ajouterAuxLectures({{livre.id}})"><i class="ti-plus"></i><span>Ajouter
                                            aux
                                            lectures</span></a>
                                </div>
                                <div class="product-action-2">
                                    <a title="Ajouter aux lectures" href="javascript:void(0);"
                                        onclick="ajouterAuxLectures({{livre.id}})">Ajouter aux
                                        lectures</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3 style="font-size: 18px">
                                TITRE :
                                <a href="{{livre.get_absolute_url}}"
                                    style="color: orangered; text-transform: uppercase"><b>{{livre.Titre}}</b></a>
                            </h3>
                            <h3>
                                <a href="{{livre.get_absolute_url}}">Publié le : <b>{{livre.date}}</b></a>
                            </h3>

                            <div class="product-price">
                                {% if livre.Aut_is_User %}
                                <span><a href="">
                                        Auteur : utilisateur - {{livre.Auteur}}</a></span>
                                {% else %}
                                <span>Auteur : {{livre.Auteur}}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock content %}